<div class="side" id="about">

    <h1>About Me</h1>
    <h1>Saloni Chaganlal</h1>
    <div class="circle-landscape">
        <img class="rounded-image" src="https://s3.eu-west-2.amazonaws.com/sallearnstocode.images/saloni2.jpg" alt="">
    </div>
    <p>Self-taught full stack web developer</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
</div>