
<% include ./partials/header %>

		<div class="inner">
			<div class="inner-content">
					<h1>Sal Learns to Code</h1>
					<p>A beginner learning to code</p>
					<hr>
					<p class="welcome"> Welcome <%= topicshead %> </p>
					
					<form action="/" method="POST">
						<input type="text" name="fname" placeholder="Your Name"></input>
						<button class="blog-button"><i class="far fa-arrow-alt-circle-right"></i>Submit</button>
					</form>	
					<a href="#about" class="button-circled">About Me<i class="fa fa-angle-down" aria-hidden="true"></i></a>

			</div>
			


			
		</div>
		

		<div class="about">
			<% include partials/about %>
		</div>

<% include partials/footer %>
