
<% include ./partials/header %>

<div id="page-wrapper">
<div id="header">
	<div class="inner">
		<header>
			<h1>Sal Learns to Code</h1>
			<h3>A beginner learning to code</h3>
			<hr>
			<h2 class="welcome"> Welcome <%= topicshead %> </h2>
			
			<form action="/" method="POST">
				<input type="text" name="fname" placeholder="Your Name"></input>
				<button class="btn btn-default btn-md"><i class="far fa-arrow-alt-circle-right"></i>Submit</button>
			</form>	
			<h3><a href="/blog">View My Blog</a></h3>
		</header>
		<div>
			<a href="/about" class="button circled scrolly">Begin</a>

		</div>
	</div>

</div>


</div>

<% include partials/footer %>
